{{ partial "header" .}}

<h1>{{ .Title }}</h1>
<div class="tags">
  {{if .Params.volunteers}}
  <div class="designs portfolio-tags">
    💼 <span> Travail bénévole </span>
  </div>
  {{ end }}
  {{ partial "portfolio/tags" .}}
</div>

<img title="{{.Title}}" alt="{{.Title}}" src="/portfolio/{{ .Params.Thumbnail }}" />

{{ .Content }}

{{ if .Params.testimonial }}
  <h3>Témoignage</h3>
  <div class="testimonial-list">
    {{ with .Params.testimonial }}
        {{ partial "portfolio/testimonial" . }}
    {{ end }}
  </div>
{{ end }}

{{ partial "footer" .}}
