blockquote {
    border-left: 5px solid #d0f4ff;
    padding-left: 15px;
    position: relative;
    z-index: 0;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.25rem;
    position: relative;
}
:not(.portfolio-list) img {  
    box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.75);
}

:not(.portfolio-list) figcaption {
    margin-top: 10px;
}

@media (max-height: 800px) {
    header .socials {
        padding: 20px;
    }
    header .intro {
        padding: 20px;
        bottom: 100px;
    }
    header .rounded-logo { 
        width: 75px;
        height: 75px;
    }
    header .intro h2 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    header .intro h3 {
        font-size: 14px;
        margin-top: 0px;
        font-style: italic;
    }
    header .intro .menu p {
        font-size: 0.8em;
    }
}
