{{ partial "header" .}}

{{ if .Params.homePageTitle }}
  <h1>{{ .Params.homePageTitle | markdownify }}</h1>
{{ else }}
  <h1>{{ .Title | markdownify }}</h1>
{{ end }}
{{ .Content }}

<h2>{{ .Site.Params.main.latestPublishHeader | default "My Latest Job" }}</h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $count := .Site.Params.main.latestPublishCount | default 1}}
  {{ range first $count $pages }}
    {{ if in .Site.Params.mainSections "portfolio" }}
      {{ partial "portfolio/item" .}}
    {{ else if in .Site.Params.mainSections "post" }}
      {{ partial "post/item" .}}
    {{ end }}
  {{ end }}

{{ partial "footer" .}}
